:root {
    --color-white: #FFFFFF;
    --color-pale-white: #F4F4F4;
    --color-light: #F5F6FF;
    --color-border: #DADADA;
    --color-dark: #303030;
    --color-backgtound: rgba(0, 0, 0, 0.44);
    --color-blue: #80D8E7;
    --color-violet: #515DAD;
    --color-light-violet: #D2D8FF;
    --color-light-violet-hover: #CBD2FF;
    --color-bright-purple: #6977DA;
    --color-light-purple: #4B569D;
    --color-gray: rgba(138, 139, 152, 0.5);
    --colot-blue-gradient: linear-gradient(276.88deg, #90C1F3 2.65%, #72D5E3 48.22%, #DBE8FF 99.23%);
    --colot-green-gradient: linear-gradient(0deg, #44D370, #44D370), linear-gradient(94.55deg, #4974F6 5.92%, #49DEB2 91.12%);
    --color-green-hover: #52E27F;
    --color-green-active: #47CC70;
}