@import 'color';
@import 'font';

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: auto;
    font-weight: 400;
    line-height: 1;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

sup {
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Jost', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    background: var(--color-light);
    color: var( --color-dark);
    font-size: $font-p6;

    &.lock {
        overflow: hidden;
    }
}