@import 'color';
@import 'font';

.maintenance {
    padding-top: 33px;
    padding-bottom: 48px;

    .wrapper {
        position: relative;
        background: url('../../img/back-back.png') no-repeat center;
        max-width: 100%;
        width: 100%;
        height: 526px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        &::before {
            position: absolute;
            content: '';
            background: url('../../img/man-man.png') no-repeat;
            bottom: 0;
            right: 74px;
            width: 311px;
            height: 561px;
            opacity: 0;
            transition: all 0.6s ease 0s;
        }

        &.active {
            &::before {
                opacity: 1;
                transition: all 0.6s ease-in-out 0.2s;
            }
        }
    }

    .info {
        width: 611px;
        padding-top: 53px;
        padding-left: 59px;
    }

    .title {
        font-family: 'Jost', Arial, sans-serif;
        font-weight: 600;
        font-size: $font-h1;
        line-height: 133.5%;
        color: var(--color-dark);
        transform: translate(0px, 120%);
        opacity: 0;
        transition: all 0.4s ease 0s;

        &.active {
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }

    .subtitle {
        font-weight: 400;
        font-size: $font-p1;
        line-height: 38px;
        color: var(--color-dark);
        padding-top: 32px;
        padding-bottom: 32px;
        transform: translate(0px, 120%);
        opacity: 0;
        transition: all 0.8s ease 0s;

        &.active {
            opacity: 1;
            transform: translate(0px, 0px);
            transition: all 0.8s ease 0.4s;
        }
    }

    .form {
        width: 500px;
        padding: 10px 15px;
        background: var(--color-white);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px
    }

    .service {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 13px;
        gap: 90px;
        max-width: 800px;
        width: 100%;
        transform: translate(-10%, 0);
        opacity: 0;
        transition: all 0.8s ease 0s;

        &.active {
            opacity: 1;
            transform: translate(0px, 0px);
            transition: all 0.8s ease 0.4s;
        }
    }

    .card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .img {
        margin-right: 15px;
        min-width: 44px;
        min-height: 44px;
    }

    .text {
        font-weight: 600;
        font-size: $font-p5;
        line-height: 26px;
        color: var(--color-dark);
    }

    .man {
        display: none;
    }
}

@media screen and (max-width: 1124px) {
    .maintenance {
        .wrapper {
            background: url('../../img/back-back-1024.png') no-repeat center;

            &::before {
                position: absolute;
                content: '';
                background: url('../../img/man-man-1024.png') no-repeat;
                bottom: 18px;
                right: 26px;
                width: 289px;
                height: 521px;
            }
        }

        .info {
            width: 452px;
            padding-top: 63px;
        }

        .title {
            font-size: $font-h2;
            line-height: 43px;
        }

        .service {
            gap: 38px;
            max-width: 666px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .maintenance {
        .wrapper {
            background: none;
            height: auto;

            &::before {
                display: none;
            }
        }

        .info {
            background: var(--colot-blue-gradient);
            border-radius: 20px;
            width: 100%;
            padding: 61px 14px;
        }

        .title {
            font-size: $font-p4;
            line-height: 29px;
        }

        .subtitle {
            padding: 25px 0 22px 0;
            font-size: $font-p6;
            line-height: 23px;
        }

        .form {
            width: 100%;
            padding: 0;
            background: transparent;
            flex-direction: column;
        }

        .service {
            justify-content: space-between;
            align-items: flex-start;
            overflow: auto;
            padding-bottom: 40px;
            padding-top: 40px;
            max-width: 100%;

            &::-webkit-scrollbar { 
                width: 0; 
            }        
        }

        .card {
            min-width: 212px;
            width: 100%;
        }

        .man {
            display: block;
            position: relative;
            background: linear-gradient(314.05deg, rgba(114, 213, 227, 0.56) 1.83%, #DBE8FF 90.9%);
            width: 100%;
            border-radius: 20px;
            height: 346px;

            &::before {
                position: absolute;
                content: '';
                background: url('../../img/man-man-768.png') no-repeat;
                bottom: 0;
                right: calc(50% - 107px);
                width: 213px;
                height: 385px;
                z-index: 1;
            }
        }

        .pattern {
            position: relative; 
            overflow: hidden;   
            height: 346px;
            width: 100%;
            border-radius: 20px;

                &::before {
                    position: absolute;
                    content: '';
                    background: url('../../img/pattern-pattern.png') no-repeat;
                    bottom: 0;
                    right: calc(50% - 464px);
                    width: 724px;
                    height: 351px;
                }
        }
    }
}